<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Node Study</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script src="/layui/layui.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
</head>

<body>
<ul class="layui-nav" lay-filter="">
  <li class="layui-nav-item"><a href="/">囚徒困境竞赛游戏</a></li>
  <li class="layui-nav-item layui-this"><a href="/">首页</a></li>
  <li class="layui-nav-item"><a href="">排行榜</a></li>
  <li class="layui-nav-item"><a href="">帮助</a></li>
</ul>
    {{{body}}}
</body>

</html>